# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage directory used by tools like istanbul
coverage/

# Other files
*.tgz
*.gz

# TypeScript files (if using TypeScript)
*.tsbuildinfo

# SASS cache
.sass-cache/
